body{
    font-family: 'Crimson Text', serif;
    margin: 0;
}
#sec_one{
    display: flex;
    padding-bottom: 60px;
}
#headline{
    font-size: 50px;
}
.colored-font{
    color: steelblue;
}
.wide{
    width: 50%;

}
.wide img{
    width: 100%;

}
#pad-l{
    padding-top: 100px;
    padding-left: 140px;
}
#pad-r{
    padding-top: 60px;
    padding-right: 140px;
}
.link_button{
    text-decoration: none;
    color: whitesmoke;
    padding: 12px 30px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 27px;
}
#sec-tow{
    background-image: url(Images/bg.jpg);
    background-repeat: no-repeat;
    display: flex;
    padding-bottom: 30px;
}
.wider{
    width: 50%;
    padding: 6%;
}
.wider img{
    width: 60%
}
#padd-l{
    padding-top: 120px;
    padding-left: 140px;
}
#padd-r{
    padding-top: 180px;
    padding-right: 140px;
}
.font-col{
    color: rgb(112, 112, 112);
    text-align: center;
}
#sec_end{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 80px;
}
.pic_wid{
    width: 30%;
}
.pic_wid img {
    width: 100%;
}
.box-shadow{
    width: 300px;
    height: 370px;
    padding: 2%;
    margin: 2%;
    border-radius: 20px;
    box-shadow: 3px 3px 20px rgba(128, 128, 128, 0.822);
}
#new-box{
    display: flex;
    width: 70%;
    height: 150px;
    padding: 1%;
    border-bottom: 180px;
    margin-left: 14%;
    margin-right: 15%;
    border-radius: 20px;
    box-shadow: 3px 3px 20px rgba(128, 128, 128, 0.822);
}
.box-cont{
    text-align: left;
    margin-left: 120px;
    margin-right: 80px;
}
.box-cont h1{
    font-size: 40px;
}
.box-conto{
    font-size: 14px;
    color: gray;
}
#foot{
    border: 1px solid rgb(47, 55, 79);
    background-color: rgb(47, 55, 79);
    text-align: center;
    margin-top: 100px;
    padding-top: 9px;
    padding-bottom: 22px;
}